In [25]:
import pandas as pd
import numpy as np
from scipy.io import arff

In [26]:
adult_arff_data, adult_arff_meta = arff.loadarff(open('adult.arff', 'r'))

In [27]:
adult = pd.DataFrame(adult_arff_data)

In [39]:
adult = adult.applymap(lambda x: x.decode('utf8').replace("'", "") if hasattr(x, 'decode') else x)
adult_target = np.array(adult['class'])
adult_data = pd.get_dummies(adult.drop('class', axis=1))

NameError: name 'df' is not defined

In [46]:
adult_target = adult['class']
print(type(adult_target))
adult_target.head()

<class 'pandas.core.series.Series'>

0    <50k
1    <50k
2    >50k
3    >50k
4    <50k
Name: class, dtype: object

In [47]:
#print('Target:', adult_target[:10])
#print('Data:')
print(type(adult_data))
adult_data.head()

<class 'pandas.core.frame.DataFrame'>

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25.0,226802.0,7.0,0.0,0.0,40.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38.0,89814.0,9.0,0.0,0.0,50.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28.0,336951.0,12.0,0.0,0.0,40.0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,44.0,160323.0,10.0,7688.0,0.0,40.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,18.0,103497.0,10.0,0.0,0.0,30.0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

adult_target.head()

In [44]:
np.savetxt('adult_data.csv', adult_data, delimiter=',', fmt='%s')
np.savetext('adult_target.csv', adult_target, delimiter=',', fmt='%s')

AttributeError: module 'numpy' has no attribute 'savetext'